* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 9000px;
}

/*header*/

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    z-index: 999;
    background-color: rgb(205, 170, 245);
}

.ul-menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    margin: auto;   
}

.logo {
    width: 130px;
    height: 100%;
}

.logo > img {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-menu {
    list-style: none;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ul-menu > li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-menu > li > a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
}