* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 8000px;
}

/*header*/

header {
    display: flex;
    align-items: center;
    margin: auto;   
}

body > header > .ul-menu {
    justify-content: space-between;
    list-style: none;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

body > header > .ul-menu > li {
    display: flex;
    align-items: center;
    justify-content: center;
}

body > header > .ul-menu > li > a {
    font-family: "MuktaLight";
    font-size: 30px;
    color: black;
}

header > .header-info {
}

.main-category > .product-category > .product {

}

@font-face {
    font-family: "Aegean";
    src: url(public/css/fonts/Aegean-8jJ2.ttf) format(OpenType);
}

@font-face {
    font-family: "MuktaLight";
    src: url(public/css/fonts/EkMuktaLight-wO19.ttf) format(TrueType);
}

@font-face {
    font-family: "HussarBoldExtendedObliqueThree";
    src: url(/public/css/fonts/HussarBoldExtendedObliqueThree.otf) format(PostScript);
}

@font-face {
    font-family: "HussarBoldSupercondensedObliqueThree";
    src: url(/public/css/fonts/HussarBoldSupercondensedObliqueThree.otg) format(PostScript);
}