* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 1000px;
    /* //background-image: url("/larapraktika/public/img/bg.jpg");
    background-blend-mode: hue; */
}

/*header*/

header {
    align-items: center;
    margin: auto; 
    justify-content: space-between;  
}

body > header > .ul-menu {
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
    background-color: rgb(51, 51, 51);
}

body > header > .ul-menu > li {
    display: flex;
    text-align: center;
}

body > header > .ul-menu > li > a {
    text-align: center;
    font-family: "Aegean";
    font-size: 16px;
    color: rgb(255, 255, 255);
    width: 120px;
}

/*main*/

.main-category > .catalog {
    margin: auto;
}

/*menu-streamlining*/

.main-category > .catalog > .menu-streamlining{
    align-items: center;
    margin: auto; 
    justify-content: space-between; 
}

.main-category > .catalog > .menu-streamlining > ul {
    display: flex;
    align-items: center;
    margin: auto; 
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: rgb(241, 241, 241);
    margin-bottom: 50px;
}

.main-category > .catalog > .menu-streamlining > ul > li {
    display: flex;
    text-align: center;
    width: 300px;
}

.main-category > .catalog > .menu-streamlining > ul > li > a {
    font-family: "Aegean";
    font-size: 28px;
    color: rgb(0, 0, 0);
    width: 300px;
}

/*menu-category*/

.main-category > .catalog > .menu-category{
    align-items: center;
    margin: auto; 
    justify-content: space-between; 
}

.main-category > .catalog > .menu-category > ul {
    display: flex;
    align-items: center;
    margin: auto; 
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: rgb(241, 241, 241);
    margin-bottom: 50px;
}

.main-category > .catalog > .menu-category > ul > li {
    display: flex;
    text-align: center;
    width: 300px;
}

.main-category > .catalog > .menu-category > ul > li > a {
    font-family: "Aegean";
    font-size: 28px;
    color: rgb(0, 0, 0);
    width: 300px;
}

/*header-info*/

.main-category > .header-info > .logo {
    width: 100%;
    display: inline-block; 
    text-align: center;
    padding-bottom: 10px;
}

.main-category > .header-info > .logo > p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 24px;
    padding: 4px;
}

.main-category > .header-info > .logo > img {
    width: 15%;
    height: 200px;
    padding: 30px;
}

/*category-name*/

.main-category > .category-name > h2 {
    text-align: center;
    font-family: "Rostov";
    font-size: 55px;
    padding-bottom: 20px;
    color: rgb(53, 53, 53);
}

/*product-category*/

.main-category > .product-category > .product {
    padding: 50px;
    height: 400px;
    width: 200px;
    justify-content: space-between;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(95, 95, 95);
    margin-bottom: 20px;
    margin-left: 35px;
    margin-right: 35px;
}

.main-category > .product-category > .product > .product-image > img{
    width: 100%;
    height: 300px;
}

/*product-solo*/

.comics-main {
}

.comics-main > .product-solo{
    margin-left: 100px;
    margin-top: 150px;
}

.comics-main > .product-solo > .product-solo-image{
    height: 2000px;
    width: 300px;
    float: left;
}

.comics-main > .product-solo > .product-solo-image > img{
    height: auto;
    width: 200px;
    float: left;
}

.comics-main > .product-solo > .product-info > .product-solo-name{
    font-family: 'Aegean';
    font-size: 40px;
}

.comics-main > .product-solo > .product-info > .product-solo-detail{
    font-family: 'Aegean';
    font-size: 18px;
    width: 1300px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.comics-main > .product-solo > .product-info > .product-solo-detail > .detail-comics{
    font-family: 'Aegean';
    font-size: 30px;
    width: 1300px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.comics-main > .product-solo > .product-solo-price{
    font-family: 'Aegean';
    font-size: 40px;
}

.comics-main > .product-solo > .button > a > input{
    margin-top: 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.comics-main > .product-solo > .product-info > .product-solo-publisher{
    font-family: 'Aegean';
    font-size: 24px;
    width: 1300px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.comics-main > .product-solo > .product-info > .product-solo-years{
    font-family: 'Aegean';
    font-size: 24px;
    width: 1300px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.comics-main > .product-solo > .product-info > .product-solo-page{
    font-family: 'Aegean';
    font-size: 24px;
    width: 1300px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*footer*/

.footer {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    background-color: rgb(31, 31, 31);
}

@font-face {
    font-family: "Aegean";
    src: url(/larapraktika/public/fonts/Aegean-8jJ2.ttf) format(OpenType);
}

@font-face {
    font-family: "MuktaLight";
    src: url(/larapraktika/public/fonts/EkMuktaLight-wO19.ttf) format(TrueType);
}

@font-face {
    font-family: "HussarBoldExtendedObliqueThree";
    src: url(/larapraktika/public/fonts//HussarBoldExtendedObliqueThree.otf) format(OpenType);
}

@font-face {
    font-family: "HussarBoldSupercondensedObliqueThree";
    src: url(/larapraktika/public/fonts/HussarBoldSupercondensedObliqueThree.otf) format(OpenType);
}

@font-face {
    font-family: "Trueno";
    src: url(/larapraktika/public/fonts/TruenoExtraboldItalic-eg1O.otf) format(OpenType);
}

@font-face {
    font-family: "Rostov";
    src: url(/larapraktika/public/fonts/Rostov.ttf) format(OpenType);
}